@charset "UTF-8";

// Moved everything into my src/ directory 
@import "../tachyons/tachyons.scss";

/*
$blue:   #006697;
$green:  #2a8703;
$red:    #de1c24;
$orange: #ec8031;
$yellow: #ffc220;


$colors: -blue, -green, -red, -orange, -yellow;


@each $color in $colors {
  .bg#{$color} {
    background-color: $color;
  }
}
*/